<app-header></app-header>
<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <div [style.width.%]="90">
      <mat-card>
        <h3>
          TechStack is an easy way to visualize your techstack in your
          <code>README.md</code> file. Logos provided by
          <a href="https://github.com/gilbarbara/logos">SVG Logos</a>.
        </h3>
        <ol>
          <li>
            <span
              >Paste your
              <code>package.json</code>
              below
            </span>
          </li>
          <li>
            Verify your logos are correct, delete the ones that don't apply
          </li>
          <li>
            Copy the markdown and add it to your <code>Readme.md</code> file
          </li>
        </ol>
      </mat-card>

      <form [formGroup]="form">
        <div>
          <ngx-codemirror
            id="dependancies"
            [options]="packageJsonEditor"
            formControlName="dependancies"
          >
          </ngx-codemirror>
          <strong *ngIf="form.get('dependancies').invalid" style="color: red"
            >Invalid JSON syntax.</strong
          >
        </div>

        <button
          mat-raised-button
          color="primary"
          style="margin-top: 5px"
          (click)="clear()"
        >
          Clear
        </button>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div layout="row" [style.width.%]="90">
      <div *ngIf="techStack">
        <div
          *ngFor="let img of techStack"
          style="display: block; float: left; margin-right: 15px"
        >
          <button
            mat-button
            color="primary"
            aria-label="Example icon button with a menu icon"
            style="position: absolute; float: right; padding-left: 45px"
            (click)="deleteLogo(img)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
          <img width="55" src="{{ img }}" />
        </div>
      </div>

      <ngx-codemirror
        style="float: left"
        id="load-flags"
        [options]="markDownEditor"
        [(ngModel)]="markdown"
      >
      </ngx-codemirror>
      <button
        style="float: left; margin-top: 5px"
        [cdkCopyToClipboard]="markdown"
        mat-raised-button
        color="primary"
        (click)="showToast()"
      >
        Copy to clipboard
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
