<app-header></app-header>
<div class="flexbox bg-dark min-h-90">
	<!-- package json editor -->
	<div class="my-2 mw-45 shadow child">
		<mat-card>
			<h3>
				TechStack is an easy way to visualize your techstack in your
				<code>README.md</code> file. Logos provided by
				<a href="https://github.com/gilbarbara/logos">SVG Logos</a>.
			</h3>
			<ul class="list">
				<li>
					<span> Paste your <code>package.json</code> below </span>
				</li>
				<li>
					Verify your logos are correct, delete the ones that don't
					apply
				</li>
				<li>
					Copy the markdown and add it to your
					<code>Readme.md</code> file
				</li>
			</ul>
		</mat-card>
		<!-- input form -->
		<form [formGroup]="form">
			<div>
				<ngx-codemirror
					(change)="extractLogos()"
					id="dependancies"
					[options]="packageJsonEditor"
					formControlName="dependancies"
				>
				</ngx-codemirror>
				<small *ngIf="form.get('dependancies').invalid" class="error">
					Invalid JSON syntax.
				</small>
			</div>

			<button
				class="my-2"
				mat-raised-button
				color="primary"
				(click)="clear()"
			>
				Clear
			</button>
		</form>
	</div>

	<!-- output editor -->
	<div class="my-2 mw-45 shadow child">
		<div class="col-flex">
			<div *ngIf="techStack" class="logo-output">
				<div *ngFor="let img of techStack">
					<button
						mat-button
						color="accent"
						aria-label="button to remove an item"
						style="
							position: absolute;
							float: right;
							padding-left: 45px;
						"
						(click)="deleteLogo(img)"
					>
						<mat-icon>cancel</mat-icon>
					</button>
					<img src="{{ img }}" />
				</div>
			</div>

			<ngx-codemirror
				id="load-flags"
				[options]="markDownEditor"
				[(ngModel)]="markdown"
			>
			</ngx-codemirror>

			<button
				class="my-2"
				color="primary"
				mat-raised-button
				(click)="showToast()"
				[cdkCopyToClipboard]="markdown"
			>
				Copy to clipboard
			</button>
		</div>
	</div>
</div>
